{% extends 'home.html' %}
{% block title %}Dashboard{% endblock title %}
{% block breadcrumb %}Dashboard{% endblock breadcrumb %}
{% block header-title %}Dashboard{% endblock header-title %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          {% if event_ctg %}
            <h3>{{ event_ctg }}</h3>
          {% else %}
            <h3>0</h3>
          {% endif %}

          <p>Events</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          {% if event %}
            <h3>{{ event }}</h3>
          {% else %}
            <h3>0</h3>
          {% endif %}

          <p>Articles</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          {% if complete_event %}
            <h3>{{ complete_event }}</h3>
          {% else %}
          <h3>0</h3>
          {% endif %}

          <p>Notice-Board</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <!-- Event List -->
 
{% endblock content %}