{% extends 'home.html' %}
{% block title %}Dashboard{% endblock title %}
{% block breadcrumb %}Dashboard{% endblock breadcrumb %}
{% block header-title %}Dashboard{% endblock header-title %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          {% if event_ctg %}
            <h3>{{ event_ctg }}</h3>
          {% else %}
            <h3>{{ events.count }}</h3>
          {% endif %}

          <p>Events</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="/events" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          {% if event %}
            <h3>{{ event }}</h3>
          {% else %}
            <h3>0</h3>
          {% endif %}

          <p>Articles</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
        
            <h3>{{ num }}</h3>
         

          <p>Notice-Board</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="{% url 'adminNotice' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <div class="mt-5">
    {%if conts %}
    
    {% for cont in conts reversed %}

    <div class="container blinking-text bg-gradient-secondary rounded mt-2 border border-radius-rounded border-success" > 
      {% comment %} <div class="row justify-content-md-left"> {% endcomment %}
      
       <div class="col-md-15 p-3">
        <div class='d-flex  justify-content-between'>
          <div class="text-warning  pb-3">
            {{ cont.date }}
          </div>
        </div >
        <span class="blinking-bullet"> </span>
        {{ cont.notice }}
        </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <!-- Event List -->
 
{% endblock content %}